NOTES
instructor/
scripts/custom/enable
solns/
quizzes/

*.pdf
!share/misc/blank_page.pdf
!watermark/watermark.pdf

*.aux
*.log
*.idx
*.toc
*.ilg
*.bak

*~
*/.xvpics/*
a.a

*problems.csv
spotter_labels
save.ref
temp
temp.html
temp_mathml*
*.temp
*temp.tex
code_listing*
code_listings.zip
*.cmd
learned_commands.json

figfeedback*
*.pos
*.postm4
temp.config
e
err
eruby_complaints
fund.ind
problems.m4
answers.csv
